/*Importando NIB para los prefijos y compatibilidad en todos los navegadores*/
@import "nib"

/*Variable para soporte a navegadores*/
vendor-prefixes = o ms moz webkit khtml official 


/*Paleta de colores en variables*/

amarillo = #ffd636 
amarillo-dos = #F6BB43
azul = #5bb3f6
fondo-body = #EFF2E7
gris-claro = #f1f1f1
gris-oscuro = #565669
lima = #90c16b
verde = #5cb85c
morado = #8B5499
rojo = #d9534f
color-texto = #66757F
verde-whats = #009688
verde-dos = #2ECC71
verde-tres = #8CC253
naranja = #f0ad4e

radio = 3px

/*Importando todas los componentes*/
@import "utilities.styl"

@import "components/fonts.styl"
@import "components/container.styl"
@import "components/normalize.styl"
@import "components/fonts.styl"
@import "components/base.styl"
@import "components/header.styl"
@import "components/navigation.styl"
@import "components/publication.styl"
@import "components/form.styl"
@import "components/badge.styl"
@import "components/grid.styl"
@import "components/background.styl"
@import "components/business.styl"

@import "components/presentation.styl"
@import "components/panel.styl"
@import "components/accordion.styl"
@import "components/details.styl"
@import "components/maps.styl"
@import "components/fancybox.styl"
@import "components/float-panel.styl"
@import "components/router.styl"
@import "components/alert.styl"
@import "components/mc-button.styl"
@import "components/table.styl"
@import "components/modal.styl"
@import "components/login.styl"
@import "components/progress-bar.styl"
@import "components/footer.styl"
@import "components/categories.styl"
@import "components/bxslider.styl"
@import "components/events.styl"


