/*Importando NIB para los prefijos y compatibilidad en todos los navegadores*/
@import "nib"

/*Variable para soporte a navegadores*/
vendor-prefixes = o ms moz webkit khtml official 


/*Paleta de colores en variables*/

amarillo = #edc838 
amarillo-dos = #F6BB43
azul = #5bb3f6
fondo-body = #f5f8fa
gris-claro = #f1f1f1
gris-oscuro = #565669
lima = #90c16b
verde = #4CAF50
morado = #8B5499
rojo = #d7537c
color-texto = #262626
verde-whats = #009688
verde-dos = #2ECC71
verde-tres = #8CC253
naranja = #dc6d54

color-border-alt = #e1e8ed
color-border = #e1e8ed

radio = 3px
panel-left-width = 240px

/*Importando todas los componentes*/
@import "utilities.styl"

@import "components/fonts.styl"
@import "components/container.styl"
@import "components/normalize.styl"
@import "components/fonts.styl"
@import "components/base.styl"
@import "components/header.styl"
@import "components/navigation.styl"
@import "components/publication.styl"
@import "components/form.styl"
@import "components/badge.styl"
@import "components/grid.styl"
@import "components/background.styl"
@import "components/business.styl"

@import "components/presentation.styl"
@import "components/panel.styl"
@import "components/accordion.styl"
@import "components/details.styl"
@import "components/maps.styl"
@import "components/fancybox.styl"
@import "components/float-panel.styl"
@import "components/router.styl"
@import "components/alert.styl"
@import "components/mc-button.styl"
@import "components/table.styl"
@import "components/modal.styl"
@import "components/login.styl"
@import "components/progress-bar.styl"
@import "components/footer.styl"
@import "components/categories.styl"
@import "components/bxslider.styl"
@import "components/events.styl"
@import "components/business-registered.styl"
@import "components/tabs.styl"
@import "components/jq-ui.styl"
@import "components/responsive-video.styl"
@import "components/social.styl"