.white
	background white
	
.red
	background rojo
	color rgba(black,0.5)
	
.blue
	background azul
	color rgba(black,0.5)
	
.green 
	background verde
	color rgba(black,0.5)
	
.yellow 
	background amarillo
	color rgba(black,0.5)
	
.orange
	background naranja
	color rgba(black,0.5)
	
.light-gray
	background gris-claro
	color gris-oscuro