.white
	background white
	
.red
	background rojo
	
.blue
	background azul
	
.green 
	background verde
	
.yellow 
	background amarillo
	
.orange
	background naranja
	
.light-gray
	background gris-claro
	color gris-oscuro