body
	background #eff2e7
	color color-texto
	font-family "roboto_condensedlight","roboto_condensedlight","roboto_light"
	font-size 14px
	position relative
	font-weight bold


*
	color #66757F
	

main
	max-width 100%
	

@media screen and (min-width:768px)
	main
		max-width 85%
		margin 0 auto
		
@media screen and (min-width:1200px)
	main
		max-width 1200px
		margin 0 auto