body
	background #E6EAEE
	color color-texto
	font-family "roboto_condensedlight","roboto_condensedlight","roboto_light"
	font-size 14px
	position relative
	font-weight bold

*	
	color #66757F
	


.background_uno
	background-image url("../img/wallpapers/wallpaper_uno.jpg")
	background-size cover
	background-color none
	background-position 50% 50%
	width 100%
	background-repeat no-repeat
	

main
	max-width 100%
	

@media screen and (min-width:768px)
	main
		max-width 85%
		margin 0 auto
		
@media screen and (min-width:1200px)
	main
		max-width 1200px
		margin 0 auto