.container
	display block
	max-width 95%
	margin 1rem auto
	position relative
	padding 0.5rem
	overflow hidden
	background white
	border 1px solid #d3d3d3
	border-radius radio
	z-index 4
	text-align center
		
	.u-wrapper
		margin 0 auto
		position relative
		overflow hidden
		padding 0.5rem
		max-width 100%
		
		.title	
			font-size 1.8rem
			margin 0
			overflow hidden
			border-bottom 1px solid gris-claro

.reseting-original
	margin 1rem auto	
	max-width 95%		

.with-float-panel
	margin 1rem auto

@media screen and (min-width: 768px)
	.container
		max-width 100%
		margin 0.5rem
		text-align initial
		
	.with-float-panel
		margin 1rem 1rem 1rem 256px

	.reseting-original
		margin-left 0
