@font-face {
    font-family 'roboto_thin'
    src  url('../fonts/Roboto/thin/Roboto-Thin-webfont.eot')
    src  url('../fonts/Roboto/thin/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/thin/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto/thin/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/thin/Roboto-Thin-webfont.svg#robotothin') format('svg')
    font-weight normal
    font-style normal

}

@font-face {
    font-family 'roboto_regular'
    src  url('../fonts/Roboto/regular/Roboto-Regular-webfont.eot')
    src  url('../fonts/Roboto/regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/regular/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto/regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/regular/Roboto-Regular-webfont.svg#robotoregular') format('svg')
    font-weight normal
    font-style normal

}

@font-face {
    font-family: 'roboto_light'
    src: url('../fonts/Roboto/light/Roboto-Light-webfont.eot')
    src: url('../fonts/Roboto/light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/light/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto/light/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/light/Roboto-Light-webfont.svg#robotolight') format('svg')
    font-weight: normal
    font-style: normal

}


@font-face {
    font-family 'roboto_bold'
    src  url('../fonts/Roboto/bold/Roboto-Bold-webfont.eot')
    src  url('../fonts/Roboto/bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/bold/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto/bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/bold/Roboto-Bold-webfont.svg#robotobold') format('svg')
    font-weight normal
    font-style normal

}


/**/
@font-face {
    font-family 'roboto_condensedbold'
    src url('../fonts/Roboto/boldcondensed/RobotoCondensed-Bold-webfont.eot')
    src url('../fonts/Roboto/boldcondensed/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/boldcondensed/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto/boldcondensed/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/boldcondensed/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg')
    font-weight normal
    font-style normal

}

@font-face {
    font-family 'roboto_condensedregular'
    src url('../fonts/Roboto/condensed/RobotoCondensed-Regular-webfont.eot')
    src url('../fonts/Roboto/condensed/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/condensed/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto/condensed/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/condensed/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg')
    font-weight normal
    font-style normal

}

@font-face {
    font-family 'roboto_condensedlight'
    src url('../fonts/Roboto/lightcondensed/RobotoCondensed-Light-webfont.eot')
    src url('../fonts/Roboto/lightcondensed/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/lightcondensed/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto/lightcondensed/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/lightcondensed/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg')
    font-weight normal
    font-style normal

}

