.header
	height 60px
	background #363636
	width 100%
	position relative
	z-index 1
	text-align center
	float left
	
	&-logo
		margin 0
		position relative
		display inline-block
		height 60px
		
		img
			max-width 100%
			height 100%
		
	.toogle-menu
		width 70px
		height 60px
		display table
		float right 
		background #363636
		text-align center
		font-size 2rem
		font-weight bold
		cursor pointer
		
		span
			display table-cell
			vertical-align middle
			color white
			
#with-icon-panel
	left 60px

@media screen and (min-width:768px)
	.header
		text-align initial
		box-shadow 0 1px 5px rgba(black,0.1)
		
		.toogle-menu
			display none
