.login
	background white
	max-width 95%
	border 1px solid #d3d3d3
	position relative
	overflow hidden
	margin 1rem auto
	display block
	
	&-header
		padding 0.5rem
		text-align center
		border-bottom 1px solid #d3d3d3
		
		.lgn-title
			margin 0 auto
			font-size 1.5rem
			text-transform uppercase
		
	&-body
		padding 1rem
		text-align left
		overflow hidden
		
	&-footer
		padding 1rem
		border-top 1px solid #d3d3d3
		overflow hidden
		

@media screen and (min-width:768px)
	.login
		max-width 60%
		
		&-header
			
			.lgn-title
				font-size 2rem
				

@media screen and (min-width:768px)
	.login
		top 3rem
		max-width 30%