  #map
    margin: 0 auto;
    padding: 0;
    height: 100%;
    max-width: 100%;
    background: #808080;
    border: 10px solid #fff;
    border: 7px solid #fff;
    

 .map-container
 	height 300px
 	overflow hidden
 	padding 0.5rem 0
 	

 /*@media screen and (min-width:768px)
 	#map 
 		max-width 100%*/