.pop-up-fade
	position fixed
	left 0
	right 0
	bottom 0
	top 0
	background rgba(black,0.8)
	display none
	z-index 100
	
.pop-up 
	background white
	border-radius 3px
	max-width 95%
	margin 1rem auto
	min-height 30%
	overflow hidden
	position absolute
	left 0
	right 0
	height auto
	z-index 150
	padding 0
	top 1rem
	
	&-small
		max-width 95%
		
	&-medium
		max-width 95%
		
	&-large 
		max-width 95%

	.close-pop-up
		font-size 2.2rem
		font-weight bold 
		position absolute 
		top 0
		right 0
		padding 0 1rem
		cursor pointer
		z-index 16
		height 50px
		background #f1f1f1
	
	&-header
		padding 0 0.5rem
		border-bottom 1px solid color-border
						
		.modal-title
			font-size 1.5rem
			margin 0
			padding 0.5rem 0
			text-align left
			height 50px
		
	&-body
		border-bottom 1px solid gris
		padding 1rem 
		height auto
		overflow scroll
		overflow-x hidden
		
		iframe
			height 100%
			
  
	&:hover
	    background #4ca06d
	    cursor pointer 
	    
	/* Pseudo-clase */
	::-webkit-scrollbar-thumb:window-inactive}
		background azul
			
	
	&-footer
		background gris
		padding 0.5rem
		
@media screen and (min-width:768px)
	.pop-up 
					
		&-header
							
			.modal-title
				font-size 1.5rem
					

@media screen and (min-width:992px)
	.pop-up 
		max-width 50%
		top 3rem
		
		&-small
			max-width 30%
		
		&-medium
			max-width 50%
			
		&-large 
			max-width 1000px
		
		&-header
							
			.modal-title
				font-size 1.8rem
		
