.navigation
	display block
	position absolute
	top 60px
	z-index 150
	right 0
	right 0
	width 200px
	display none
	background rgba(#363636,1)
		
	ul
		margin 0
		padding 0
		
		li 
			display block
			line-height 60px
			
			a
				padding 0 0.5rem
				text-decoration none
				cursor pointer
				display block
				color white
				text-transform uppercase
				font-weight 600
				text-align center
				margin 0
				
				&:hover
					background rojo
					transition 0.5s ease all
				
			#selected
				background rojo
				color white

@media screen and (min-width:768px)
	.navigation
		float right
		position relative
		top 0
		background none
		width initial
		display inline-block
		
		ul 
			display inline-block
			
			li 
				display inline-block
				list-style none
				
				a
					min-width 100px
					color white
					
					&:hover
						background rojo
						color white
						
					
					
					
			