.video
	height 0px
	margin 0px auto
	padding-bottom 56.25%
	position relative
	padding-top 0.1rem
	z-index 14
	border 0
	
	embed, 
	iframe, 
	object, 
	video
		height 100%
		left 0px
		position absolute
		top 0px
		width 100%
		z-index 15
		border 0
		padding 0